---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<ul>  
  <dt><font size = "8">Instructor</font><br/> </dt>
</ul>
<dl>
  <dt><font size = "5">Instructor</font><br/> </dt>
  <dd>- <font size = "3">Intermediate Macroeconomics</font><br/> </dd>
  <li>Coffee</li>
<br>
  
  
  <dt><font size = "5">Teaching Assistant</font><br /></dt>
  <dd>- <font size = "3">Intermediate Macroeconomics</font><br/>  </dd>
</dl>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
