---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
{% include base_path %}

<dl>
  <dt><b><font size="4">Instructor</font></b><br/></dt>
  <dd>
    <font size="4">University of Rochester</font><br/>
    <ul>
      <li>Intermediate Macroeconomics, 2022 Summer<br/>
        <a href="https://SteveShelnanMa.github.io/files/SyllabusECO209.pdf" target="_blank">Syllabus</a>
      </li>
    </ul>
  </dd>

  <dt><b><font size="4">Teaching Assistant</font></b><br/></dt>
  <dd>
    <font size="4">University of Rochester</font><br/>
    <ul>
      <li>Intermediate Macroeconomics by Prof. Hamid Firooz, 2023 Fall</li>
      <li>Economics of Globalization by Prof. Gaston Chaumont, 2023 Spring</li>
      <li>Money, Credit, and Banking by Prof. Narayana Kocherlakota, 2022 Spring/Fall</li>
      <li>Pricing Policies by Prof. Greg Shaffer, 2022 Spring/Fall</li>
      <li>Economic Statistics by Prof. Nese Yildiz, 2021 Fall</li>
    </ul>
  </dd>
  <dd>
    <font size="4">Tsinghua University</font><br/>
    <ul>
      <li>Intermediate Macroeconomics, 2017 Fall</li>
    </ul>
  </dd>
  <dd>
    <font size="4">Peking University</font><br/>
    <ul>
      <li>Urban Economics, 2017 Spring</li>
    </ul>
  </dd>
</dl>

<!-- 
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
