---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}



<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>

<dl>
  <dt><font size = "5">Instructor</font><br/> </dt>
  <dd>- <font size = "3">Intermediate Macroeconomics</font><br/> </dd>
  <dt><font size = "5">Teaching Assistant</font><br /></dt>
  <dd>- <font size = "3">Intermediate Macroeconomics</font><br/>  </dd>
</dl>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
